<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pick your food</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/menu.css" />
  </head>
  <body>
    <header>
      <div class="main">
        <nav class="navbar">
          <a href="https://www.citchennai.edu.in/"><img src="/CIT.jpg" /></a>
          <a class="navbar_logo" href = "">CIT MESS TRACKER</a>
          <ul class="navbar_list">
            <li>
              <i class="fas fa-home navbar_icons"></i>
              <a href="/home?email=<%=userEmail %>" class="home">Home</a>
            </li>
            <li>
              <i class="fa-solid fa-square-poll-vertical navbar_icons"></i>
              <a href="/calculateResult" class="result">Results</a>
            </li>
            <li>
              <i class="fa-solid fa-square-phone navbar_icons"></i
              ><a href="/CIT/policy#Contact_Us" class="contact">Contact Us</a>
            </li>
            <li>
              <i class="fa-solid fa-book-open navbar_icons"></i
              ><a href="/CIT/policy" class="policy">Policy</a>
            </li>
          </ul>
          <a href="/" class="logout">Logout</a>
        </nav>
        <%if(locals.isVoted) {%>
        <div class="container">
          <div>
            <h1 id="vote-ended">
              You have voted successfully! Come back at 6PM to view results!
            </h1>
          </div>
        </div>
        <%}%> <% if(!locals.choices && !locals.isVoted) {%>
        <div class="container">
          <div>
            <h1 id="vote-ended">
              Voting has ended. Come back tomorrow at 6AM!
            </h1>
          </div>
        </div>
        <% }%> <% if(locals.choices) {%>
        <div class="section_title">
          <h2>
            Today's Mess Menu
            <i class="fas fa-hamburger"></i>
          </h2>
          <select name="" class="dropdown-container">
            <option value="veg">Veg</option>
            <option value="nonVeg">Non Veg</option>
          </select>
        </div>
        <% }%>
        <div class="our_menu">
          <div class="menu_column">
            <% if(locals.choices) {%> <% choices.forEach((choice) => { %>
            <div class="single_menu">
              <button id="menu_button" onclick="myFunction()">
                <img id="image" src="/<%= choice.name%>.jpg" />
              </button>
              <div class="menu_content">
                <h3><%=choice.name %></h3>
                <a
                  href="/vote?food=<%= choice.name%>&email=<%=userEmail%>"
                  class="vote-now"
                  >Vote this</a
                >
              </div>
            </div>
            <%});%> <% }%>
          </div>
        </div>
      </div>
    </header>
    <script src="/menu.js"></script>
  </body>
</html>
